<html>

<head>
    <title>Home</title>
</head>

<body onload="javascript: onLoaded();">
    <!--
        Note:
        In this page, we store user's token into sessionStorage and redirect it to Home page.
    -->
    <h1>{{name}}</h1>
</body>
<script>
    function onLoaded(){
        // var token = sessionStorage.getItem("token");
        // if(token){
        //     window.location.href = "/";
        // } else{
        //     const urlParams = new URLSearchParams(window.location.search);
        //     if(urlParams.has('token') && urlParams.has('name')){
        //         token = urlParams.get('token');
        //         name = urlParams.get('name');
        //         sessionStorage.setItem("token", token);
        //         sessionStorage.setItem("name", name);
        //         window.location.href = "/";
        //     } else {
        //         window.location.href = "/login";
        //     }
        // }
    }
</script>
</html>