<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--
    <link rel="shortcut icon" href="/static/favicon.ico">
    -->
    <!--
    <link rel="stylesheet" href="/static/css/default.css" type="text/css">
    <style type="text/css">
        body {
            font-family: 'dancing_scriptregular';
        }
    </style>
    -->
    <!--
    <script src="/static/js/TweenMax.min.js"></script>
    -->
    <script>
        function fallingLeaves() {
            console.log("begin fallingLeaves");
            var falling = true;
            TweenLite.set("#container", { perspective: 600 });
            TweenLite.set("img", { xPercent: "-50%", yPercent: "-50%" });

            var total = 30;
            var container = document.getElementById("container"), w = window.innerWidth, h = window.innerHeight;

            for (i = 0; i < total; i++) {
                var leaf = document.createElement('div');
                TweenLite.set(leaf, { attr: { class: 'dot' }, x: R(0, w), y: R(-200, -150), z: R(-200, 200) });
                container.appendChild(leaf);
                animm(leaf);
            }

            function R(min, max) { return min + Math.random() * (max - min) };

            function animm(elm) {
                TweenMax.to(elm, R(6, 15), { y: h + 100, ease: Linear.easeNone, repeat: -1, delay: -15 });
                TweenMax.to(elm, R(4, 8), { x: '+=100', rotationZ: R(0, 180), repeat: -1, yoyo: true, ease: Sine.easeInOut });
                TweenMax.to(elm, R(2, 8), { rotationX: R(0, 360), rotationY: R(0, 360), repeat: -1, yoyo: true, ease: Sine.easeInOut, delay: -5 });
            };
        }
        function setFavicon(token){
            //function loadImage(url, token, placehere, newElementId, isHidden, callbackHandler)
            loadImage("static/favicon.ico",  token, function(src){
                createFaviconTag(src);
            });
        }
    </script>
</head>

<body onload="javascript:onLoaded();">
    <div id="container">
        <h1 id="hello"></h1>
        <div>Test Text</div>
    </div>
</body>
<script>
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    function onLoaded() {
        var back_token = "{{token}}";
        var back_name = "{{name}}";
        if(back_token){
            sessionStorage.setItem('token', back_token);
            sessionStorage.setItem('name', back_name);
            window.history.pushState("", "Home Page", '/');
        }
        //var token = getCookie('token');
        var token = sessionStorage.getItem('token');
        if (token) {
            //var name = getCookie('name');
            var name = sessionStorage.getItem('name');
            document.getElementById("hello").innerHTML = "Hello " + name + "!"
            loadModules(token);
            //fallingLeaves();
        } else {
            window.location.href = "/login";
        }
    }

    function loadModules(token) {
        // set favicon
        setFavicon(token);
        // load css and it's font
        httpGet("/static/css/default.css", token, loadCssCallbackHandler, function(){
            httpGet("/static/js/TweenMax.min.js", token, loadJsCallbackHandler, fallingLeaves);
        });
    }

    /*
    References:
        https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest
    */
    function httpGet(url, token, callbackHandler, postLoadFunction) {
        var request = new XMLHttpRequest();

        // set readystatechange listener
        request.addEventListener('readystatechange', function (e) {
            if (request.readyState == 2 && request.status == 200) {
                // Download is being started
            }
            else if (request.readyState == 3) {
                // Download is under progress
            }
            else if (request.readyState == 4) {
                // Downloading has finished

                // request.response holds the binary data of the font
                if (callbackHandler && typeof (callbackHandler) == "function") {
                    // Note: Parameters of callbackHandler: url, text, token, postLoadFunction
                    callbackHandler(url, request.responseText, token, postLoadFunction);
                }
            }
        });

        // Open url to request resource
        //  open(method, url, async, user, psw)
        //  method: the request type GET or POST
        //  url: the file location
        //  async: true (asynchronous) or false (synchronous)
        //  user: optional user name
        //  psw: optional password
        request.open("GET", url, true);
        // set request header
        request.setRequestHeader("x-token", token);
        //usr GET method
        request.send(null);
        //USE POST Method
        //xmlHttp.send({"key": "test_key", "value": "test_value"});
    }

    /*
    References:
        https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
        https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/matchAll
        https://regex101.com/
    */
    // Note: Parameters of callbackHandler: url, text, token, postLoadFunction
    function loadCssCallbackHandler(cssUrl, cssText, token, postLoadFunction) {
        // compress css text
        cssText = cssText.replace(/\s+/g, '');
        //console.log(cssText);

        var cssRootUrl = cssUrl.substr(0, cssUrl.lastIndexOf("/") + 1);

        processFontFaces(cssRootUrl, cssText, token, postLoadFunction);
    }

    function processFontFaces(cssRootUrl, cssText, token, postLoadFunction) {
        var fontFaces = [];
        var regex = /@font-face{font-family:'([^']*)';src:((url\('?([^']*)'?\)format\('([^']*)'\)[,;]){1,})[\w-:;]{1,}}/g;
        var match = regex.exec(cssText);
        while (match != null) {
            //console.log(match[0]);
            var fontFaceName = match[1];
            //console.log(fontFaceName);
            var fontFamily = { fontFamily: fontFaceName, urls: [] };
            fontFaces.push(fontFamily);
            //console.log(match[2]);
            var regexUrl = /url\('([^']*)'\)/g
            var innerMatch = regexUrl.exec(match[2]);
            while (innerMatch != null) {
                var fontFaceUrl = cssRootUrl + innerMatch[1];
                //console.log(fontFaceUrl);
                fontFamily.urls.push(fontFaceUrl);
                innerMatch = regexUrl.exec(match[2]);
            }

            match = regex.exec(cssText);
        }
        fontFaces.forEach(function (fontFace) {
            //console.log("familyName:" + fontFace.fontFamily + ",url:" + fontFace.urls[0]);
            loadFont(fontFace.fontFamily, fontFace.urls[0], token);
        });

        var replacedText = cssText.replace(regex, "");
        processBackgroundImages(cssRootUrl, replacedText, token, postLoadFunction);
    }

    function processBackgroundImages(cssRootUrl, cssText, token, postLoadFunction) {
        var regex = /([.#]\w*){[\w\d:;%'-]*(background[-image]*:url\('?([^']*(.png|.jpg|.bmp|.gif|.jpge|.svg))'?\);?)[\w\d:;%'-\s]*}/g;

        var backgroundImages = [];
        var match = regex.exec(cssText);
        while (match != null) {
            var backgroundImage = match[1];
            var bkImg = { className: backgroundImage, backgroundImageUrl: '', bkImageStyle: match[2] };
            backgroundImages.push(bkImg);
            //console.log(backgroundImage);
            var imageUrl = match[3];
            //console.log(imageUrl);
            bkImg.backgroundImageUrl = imageUrl;
            match = regex.exec(cssText);
        }

        var body = document.body || document.getElementsByTagName('body')[0];
        var tempStyleText = document.createElement('div');
        tempStyleText.setAttribute("id", "temp_div_for_style");
        tempStyleText.setAttribute("style", "display:none");
        body.appendChild(tempStyleText);
        var replacedText = cssText;

        taskForWait = backgroundImages.length;
        backgroundImages.forEach(function (backgroundImage) {
            //console.log(backgroundImage.backgroundImageUrl + "\r\n" + backgroundImage.bkImageStyle);
            var url = cssRootUrl + backgroundImage.backgroundImageUrl;
            loadImage(url, token, function(src){
                replacedText = replacedText.replace(backgroundImage.backgroundImageUrl, src);
                tempStyleText.textContent = replacedText;
                taskForWait --;
            });
        });

        waitForComplete(postLoadFunction);
    }

    var taskForWait = 0;
    function waitForComplete(postLoadFunction){
        if(taskForWait > 0){
            setTimeout(function(){
                waitForComplete(postLoadFunction);
            }, 1000);
            return;
        }
        
        createStyleTag(document.getElementById("temp_div_for_style").textContent);
        //document.getElementById("temp_div_for_style").remove();
        var child = document.getElementById("temp_div_for_style");
        child.parentElement.removeChild(child);

        if(postLoadFunction && typeof(postLoadFunction) == "function"){
            postLoadFunction();
        }
    }

    function createStyleTag(cssText) {
        if (cssText) {
            var head = document.head || document.getElementsByTagName('head')[0];
            var style = document.createElement('style');
            style.appendChild(document.createTextNode(cssText));
            head.appendChild(style);
        }
    }

    function createFaviconTag(src) {
        if (src) {
            var head = document.head || document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.setAttribute("rel", "icon");
            link.setAttribute("href", src);
            head.appendChild(link);
        }
    }

    // Note: Parameters of callbackHandler: url, text, token, postLoadFunction
    function loadJsCallbackHandler(jsUrl, jsText, token, postLoadFunction) {
        // compress js text
        //jsText = jsText.replace(/\s+/g, '');
        //console.log(jsText);

        createScriptTag(jsText, postLoadFunction, token);
    }

    function createScriptTag(jsText, postLoadFunction, token) {
        if (jsText) {
            var head = document.head || document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            //script.onload = postLoadFunction;
            script.appendChild(document.createTextNode(jsText));
            head.appendChild(script);
            if (postLoadFunction && typeof (postLoadFunction) == "function") {
                postLoadFunction(token);
            }
        }
    }

    /*
    References:
        https://usefulangle.com/post/74/javascript-dynamic-font-loading
    */
    function loadFont(fontFaceName, fontFileUrl, token) {
        var request = new XMLHttpRequest();
        request.addEventListener('readystatechange', function (e) {
            if (request.readyState == 2 && request.status == 200) {
                // Download is being started
            }
            else if (request.readyState == 3) {
                // Download is under progress
            }
            else if (request.readyState == 4) {
                // Downloading has finished

                // request.response holds the binary data of the font
                // For Chrome, Firefox, Opera, Safari etc. modern browsers
                if('fonts' in document){
                    var junction_font = new FontFace(fontFaceName, request.response);
                    junction_font.load().then(function (loaded_face) {
                        document.fonts.add(loaded_face);
                        //document.body.style.fontFamily = '"' + fontFaceName + '"';
                        createStyleTag("body{font-family:" + fontFaceName + "}");
                    }).catch(function (error) {
                        // error occurred
                    });
                } else {
                    // For the fucking IE&Edge browser, Set fonts as data url with base64 format
                    /*
                    @font-face{font-family:Lato;src:url('data:application/x-font-woff;charset=utf-8;base64,######');}
                    */
                    if('head' in document){
                        var base64FontHeader = "data:application/x-font-woff;charset=utf-8;base64,";
                        var codes = new Uint8Array(request.response);

                        var bin = "";
                        for (var i=0; i<codes.byteLength; i++) {
                            bin += String.fromCharCode(codes[i]);
                        }

                        var base64String = btoa(bin);
                        var dataUrl = base64FontHeader + base64String;
                        var cssText = "@font-face{font-family:" + fontFaceName + ";src:url('" + dataUrl + "');}";
                        createStyleTag(cssText);
                        createStyleTag("body{font-family:" + fontFaceName + "}");
                    }
                }
            }
        });

        request.addEventListener('progress', function (e) {
            var percent_complete = (e.loaded / e.total) * 100;
            //console.log(percent_complete);
        });

        // Downloading a font from the path
        request.open('GET', fontFileUrl);
        // For the Fucking IE&Edge browser, this line MUST lay after 'request.open()'
        request.responseType = 'arraybuffer';

        // set request header
        request.setRequestHeader("x-token", token);
        request.send();
    }

    /*
    References:
        https://base64.guru/developers/javascript/examples/encode-remote-file
        https://base64.guru/converter/encode/image
        http://lab.ejci.net/favico.js/
    */
    function loadImage(url, token, callbackHandler){
        // If you are loading file from a remote server, be sure to configure “Access-Control-Allow-Origin”
        // For example, the following image can be loaded from anywhere
        //var url = '//cdn.static.base64.guru/uploads/images/1x1.gif';

        var imageExtension = url.substr(url.lastIndexOf(".") + 1);
        imageExtension = getImageMediaType(imageExtension);
        var base64ImageHeader = "data:" + imageExtension + ";base64,";
        //data:image/gif;base64,

        // Initialize the XMLHttpRequest and wait until file is loaded
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            // Create a Uint8Array from ArrayBuffer
            var codes = new Uint8Array(xhr.response);

            var bin = "";
            for (var i=0; i<codes.byteLength; i++) {
                bin += String.fromCharCode(codes[i]);
            }
            // Get binary string from UTF-16 code units
            //var bin = String.fromCharCode.apply(null, codes);
            //var bin = Utf8ArrayToStr(codes);
            // Convert binary to Base64
            var base64String = btoa(bin);
            //console.log(base64String); //-> "R0lGODdhAQABAPAAAP8AAAAAACwAAAAAAQABAAACAkQBADs="
            var src = base64ImageHeader + base64String;
            if(callbackHandler && typeof(callbackHandler) == "function"){
                callbackHandler(src);
            }
        };
        // Send HTTP request and fetch file as ArrayBuffer
        xhr.open('GET', url);
        // For the Fucking IE&Edge browser, this line MUST lay after 'request.open()'
        xhr.responseType = 'arraybuffer';
        // set request header
        xhr.setRequestHeader("x-token", token);
        xhr.send();
    }

    function getImageMediaType(extension){
        var dict = {
            "gif": "image/gif",
            "png": "image/png",
            "jpeg": "image/jpeg",
            "jpg": "image/jpeg",
            "bmp": "image/bmp",
            "ico": "image/vnd.microsoft.icon",
            "svg": "image/svg+xml",
            "tif": "image/tiff",
            "tiff": "image/tiff",
            "webp": "image/webp"
        };
        if(extension in dict){
            return dict[extension];
        } else {
            return "image/" + extension;
        }
    }
</script>

</html>